
/*----------------------------------------------
  18.0 Call to action Style
-----------------------------------------------*/

.call-to-action-bg {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  &:before {
    position: absolute;
    content: url(../images/bg/call-to-action-bg-left.png);
    top: 50%;
    left: -35px;
    margin-top: -65px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    z-index: 1;
  }
  &:after {
    position: absolute;
    content: url(../images/bg/call-to-action-bg-right.png);
    top: 50%;
    margin-top: -50px;
    right: -35px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    z-index: 1;
  }
}

.call-to-action {
  text-align: center;
  position: relative;
  z-index: 2;
  h3 {
    font-size: 2.6rem;
    color: $white;
    font-family: $headerFont;
    font-weight: 800;
    margin-bottom: 35px;
  }
}

.call-to-action-form {
  background: rgba($white, 0.2);
  padding: 15px;
  border-radius: 3px;
  form {
    .form-group {
      width: calc(50% - 80px);
      .form-control {
        height: 55px;
        background: $white;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-right: 15px;
        width: 100%;
        border-radius: 3px;
      }
    }
    .button {
      background: $darkBlue;
      color: $white;
      font-size: 1.8rem;
      font-weight: 700;
      font-family: $headerFont;
      padding: 13px 30px;
      width: 160px;
      border-radius: 3px;
    }
  }
}

@media all and (max-width: 767px) {
  .call-to-action-form form {
    text-align: center;
    .form-group {
      width: 100%;
      .form-control {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
      }
    }
    .button {
      width: auto;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 767px) {
  .call-to-action-form form .form-group {
    margin-bottom: 0;
  }
}