
/*----------------------------------------------
  04.0 Contact Style
-----------------------------------------------*/

.contact h3 {
  font-size: 3.0rem;
  font-weight: 800;
  font-family: $headerFont;
  color: $darkBlue;
  line-height: 1;
  margin-bottom: 50px;
} 

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  .contact-icon {
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    span {
      font-size: 3.6rem;
      color: $primaryColor;
    }
  }
  .contact-details {
    border-left: 1px solid rgba($black, 0.08);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    span {
      display: block;
    }
  }
}

.cp-map {
  height: 400px;
}

@media all and (max-width: 991px) {
  .contact {
    margin-top: 50px;
    margin-bottom: 20px;
    h3 {
      margin-bottom: 30px;
    }
  }
  .cp-map {
    height: 300px;
  }
}

