
/*----------------------------------------------
  10.0 How it work Style
-----------------------------------------------*/

.working-process {
  text-align: center;
  margin-bottom: 30px;
  .process-icon {
    margin-bottom: 25px;
  }
  h5 {
    font-size: 2.0rem;
    color: $darkBlue;
  }
  .process-icon {
    position: relative;
  }
  &.process-four .process-icon {
    position: static;
  }
  .process-icon:before {
    position: absolute;
    content: url(../images/how-it-work/arrow.png);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -35px;
  }
  &.process-four .process-icon:before {
    display: none;
  }
}

@media all and (max-width: 991px) {
  .working-process .process-icon {
    &:before {
      content: "";
    }
    margin-bottom: 15px;
  }
}