
/*----------------------------------------------
  03.0 Nav Style
-----------------------------------------------*/

.page-header-bg {
  background-image: url(../images/bg/page-header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-header-padding {
  padding: 170px 0 170px;
}

.navbar-abs + .page-header-padding {
  padding-top: 250px;
}

.page-subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}

.page-title {
  font-size: 4.8rem;
  font-weight: 700;
  color: $white;
  max-width: 800px;
}

.section-header {
  max-width: 600px;
  margin: 0 auto 60px;
  .section-subtitle {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $headerFont;
    color: $grey;
    margin-bottom: 10px;
  }
  .section-title {
    font-size: 4.0rem;
    font-weight: 800;
    font-family: $headerFont;
    color: $darkBlue;
    line-height: 1;
    margin-bottom: 35px;
  }
  .section-subtext {
    color: $fontColor;
    font-size: 1.5rem;
    font-family: $bodyFont;
    font-weight: 400;
  }
}

.white-text.section-header {
  .section-subtitle, 
  .section-title, 
  .section-subtext {
    color: $white;
  }
}



.sidenav {
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      a {
        border: 1px solid rgba($black, 0.1);
        display: block;
        padding: 12px 15px;
        font-family: $headerFont;
        font-size: 1.5rem;
        font-weight: 800;
        border-radius: 5px;
        background: $white;
        &:hover {
          color: $primaryColor;
          border-color: $primaryColor;
          -webkit-box-shadow: 0px 5px 10px 0px rgba($primaryColor, 0.15);
          box-shadow: 0px 5px 10px 0px rgba($primaryColor, 0.15);
        }
        i {
          float: right;
          margin-top: 4px;
          font-size: 1.8rem;
        }
      }
      &.active a {
        color: $primaryColor;
        border-color: $primaryColor;
        -webkit-box-shadow: 0px 5px 10px 0px rgba($primaryColor, 0.15);
        box-shadow: 0px 5px 10px 0px rgba($primaryColor, 0.15);
      }
      + li {
        margin-top: 15px;
      }
    }
  }
}

.dropdown-submenu {
  position: relative;
  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
}


header {
  position: relative;
  .absolute-nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
  }
}

.navbar {
  background: $primaryColor;
}

.markesia-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar .navbar-collapse .navbar-nav > .menu-item {
  margin-left: 30px;
  a {
    font-size: 1.5rem;
    color: $white;
    padding: .5rem .5rem;
  }
}

.nav-white-bg .navbar-collapse .navbar-nav .nav-menu > a {
  color: $fontColor;
}

.navbar .navbar-collapse .navbar-nav {
  > .menu-item {
    a.dropdown-toggle:after {
      vertical-align: 1px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }
    &.nav-button a {
      border: 2px solid $white;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 5px;
      display: inline-block;
      &:hover {
        background: $white;
        color: $primaryColor;
      }
    }
    &.dropdown .dropdown-menu {
      min-width: 150px;
      left: 0;
    }
  }
  .menu-item.dropdown .dropdown-menu li {
    position: relative;
    .dropdown-menu {
      left: 100%;
      right: auto;
      top: 0;
      .dropdown-menu .dropdown-menu {
        right: 100%;
        left: auto;
      }
    }
    &:last-child .dropdown-menu .dropdown-menu, &:last-child(2) .dropdown-menu .dropdown-menu, &:last-child(3) .dropdown-menu .dropdown-menu {
      left: auto;
      right: 100%;
    }
  }
  > li > a {
    font-weight: 600;
    letter-spacing: 0.3px;
  }
}

.nav-style-2 {
  .navbar {
    background: transparent;
  }
  .absolute-nav {
    top: 30px;
  }
  .navbar .navbar-collapse .navbar-nav > {
    .menu-item {
      a {
        color: $fontColor;
      }
      &.nav-button a {
        border-color: $primaryColor;
        margin-top: -2px;
        &:hover {
          background: $primaryColor;
          color: $white;
        }
      }
    }
    li > a {
      font-weight: 400;
    }
  }
}

.nav-style-3 {
  .navbar {
    background: transparent;
  }
  .absolute-nav {
    top: 30px;
  }
  .navbar .navbar-collapse .navbar-nav > {
    .menu-item {
      a {
        color: $white;
      }
      &.nav-button a {
        border-color: $white;
        margin-top: -2px;
        &:hover {
          background: $white;
          color: $primaryColor;
        }
      }
    }
    li > a {
      font-weight: 400;
    }
  }
}

@media all and (max-width: 1199px) {
  .navbar .navbar-collapse .navbar-nav > .menu-item,
  .nav-style-2 .navbar .navbar-collapse .navbar-nav > .menu-item {
    margin-left: 20px;
  }
  .nav-style-3 .navbar .navbar-collapse .navbar-nav > .menu-item {
    margin-left: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .markesia-nav .navbar-collapse .navbar-nav {
    li {
      .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
      }
      &:hover > .dropdown-menu {
        visibility: visible;
        opacity: 1;
      }
    }
    .dropdown .dropdown-menu li {
      padding: 0 5px;
      &:hover > a {
        background: $primaryColor;
        color: $white;
        width: 100%;
        -webkit-box-shadow: 0 8px 10px 1px rgba($black, 0.14), 0 3px 14px 2px rgba($black, 0.12), 0 5px 5px -3px rgba($black, 0.2);
        box-shadow: 0 8px 10px 1px rgba($black, 0.14), 0 3px 14px 2px rgba($black, 0.12), 0 5px 5px -3px rgba($black, 0.2);
      }
      a {
        color: $darkBlue;
        position: relative;
        padding: 4px 10px;
        border-radius: 3px;
        background: rgba($primaryColor, 0);
      }
    }
  }
}

@media all and (max-width: 991px) {
  .sidenav {
    margin-top: 30px;
  }
  header .absolute-nav {
    top: 0;
  }
  .page-header-padding {
    padding: 110px 0 120px;
  }
  .navbar {
    .navbar-toggler {
      border: 0;
      border-radius: 0;
      outline: none;
      span {
        font-size: 3.6rem;
        color: $white;
      }
    }
    .navbar-collapse {
      background: $primaryColor;
      position: absolute;
      top: 100%;
      left: 15px;
      right: 15px;
      padding-left: 15px;
      padding-right: 15px;
      z-index: 99;
      box-shadow: 0 3px 6px rgba($black, 0.2);
      .navbar-nav {
        padding-bottom: 20px;
        .menu-item {
          margin-left: 0;
          padding: 0;
          a {
            display: block;
            font-weight: 600;
            &.navbar-toggler {
              display: block;
            }
          }
          &.dropdown .dropdown-menu {
            background: $primaryColor;
            border: 0;
            padding: 0 20px;
            .menu-item {
              color: $white;
              background: transparent;
            }
          }
          &.nav-button {
            margin-top: 10px;
            a {
              margin-left: 5px;
              padding-right: 15px;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }
  .nav-style-2 {
    .absolute-nav {
      top: 0;
    }
    .navbar {
      .navbar-toggler span {
        color: $primaryColor;
      }
      .navbar-collapse {
        background: $white;
        box-shadow: 0 3px 6px rgba($black, 0.2);
        .navbar-nav {
          > .menu-item {
            margin-left: 0;
            + .nav-button {
              margin-top: 10px;
            }
          }
          .menu-item.dropdown .dropdown-menu {
            background: $white;
            li {
              a {
                color: $fontColor;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  .nav-style-3 {
    .absolute-nav {
      top: 0;
    }
    .navbar {
      .navbar-collapse {
        background: $white;
        box-shadow: 0 3px 6px rgba($black, 0.2);
        .navbar-nav {
          >.menu-item {
            margin-top: 0;
            margin-left: 0;
            a {
              color: $fontColor;
            }
            +.nav-button {
              margin-top: 10px;
              a {
                border-color: $primaryColor;
              }
            }
          }
          .menu-item.dropdown {
            .dropdown-menu {
              background: $white;
              li {
                a {
                  color: $fontColor;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .section-header {
    margin-bottom: 30px;
    .section-title {
      margin-bottom: 15px;
      font-size: 3.6rem;
    }
  }
  .page-subtitle {
    font-size: 1.6rem;
  }
  .page-title {
    font-size: 3.6rem;
  }
  .navbar-abs + .page-header-padding {
    padding: 150px 0 100px;
  }
}

@media all and (max-width: 575px) {
  .navbar .navbar-collapse {
    left: 0;
    right: 0;
  }
}