
/*----------------------------------------------
  12.0 Pricing Style
-----------------------------------------------*/

.pricing-bg {
  background-size: cover;
}

.pricing-table {
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba($black, 0.06);
  background: $white;
  -webkit-box-shadow: 0px 10px 20px 0px rgba($black, 0.05);
  box-shadow: 0px 10px 20px 0px rgba($black, 0.05);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  margin-bottom: 30px;
  .feature {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: $primaryColor;
    color: $white;
    padding: 3px 20px;
    border-radius: 20px;
  }
  .pack-validity {
    font-size: 2.4rem;
    font-family: $headerFont;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 10px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 2px;
      background: rgba($black, 0.06);
    }
  }
  .pack-price {
    font-size: 3.6rem;
    font-family: $headerFont;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $darkBlue;
    sub {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .pack-features {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 30px;
    li {
      font-size: 1.5rem;
      + li {
        margin-top: 10px;
      }
    }
  }
  .button {
    border-radius: 30px;
    padding: 9px 40px;
    &:hover {
      background: $green;
    }
  }
  &.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: $primaryColor;
  }
  &:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media all and (max-width: 767px) {
  .pricing-table {
    padding: 40px 10px;
  }
}