
/*----------------------------------------------
  05.0 Service Style
-----------------------------------------------*/

.service {
  margin-bottom: 30px;
  .service-icon {
    width: 130px;
    margin: 0 auto 20px;
  }
  h3 {
    font-size: 2.2rem;
    color: $darkBlue;
    font-weight: 700;
    font-family: $headerFont;
    margin-bottom: 18px;
    -webkit-transition: all .3s easa;
    transition: all .3s easa;
  }
  &:hover h3 {
    color: $primaryColor;
  }
  &.service-border-style {
    border: 1px solid rgba($black, 0.08);
    border-radius: 5px;
    padding: 40px 30px;
    p {
      margin-bottom: 0;
    }
    .link-arrow {
      margin-top: 20px;
      opacity: .5;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }
    &:hover .link-arrow {
      opacity: 1;
    }
  }
}

.service-tab {
  border-top: 1px solid rgba($black, 0.08);
  border-bottom: 1px solid rgba($black, 0.08);
  .nav-tabs {
    border-bottom: 0;
    .nav-item {
      margin-bottom: 0;
      width: 25%;
      border-right: 1px solid rgba($black, 0.08);
      &:first-child {
        border-left: 1px solid rgba($black, 0.08);
      }
      .nav-link {
        border: 0;
        text-align: center;
        padding: 25px 10px;
        span {
          margin-top: 10px;
          font-family: $headerFont;
          font-weight: 700;
          font-size: 1.8rem;
          color: $darkBlue;
          display: block;
        }
        &:hover, &:focus {
          display: block;
        }
        &.active {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5px;
            background: $primaryColor;
          }
        }
      }
    }
  }
}

.single-tab-content {
  h3 {
    font-size: 3.0rem;
    font-family: $headerFont;
    font-weight: 800;
    color: $darkBlue;
    margin-bottom: 25px;
  }
  p {
    font-size: 1.5rem;
    + p {
      margin-top: 25px;
    }
  }
}

.affordable-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .affordable-service {
    text-align: center;
    padding: 25px 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid transparent;
    span {
      font-size: 40px;
      color: $primaryColor;
      display: inline-block;
      margin-bottom: 20px;
    }
    p {
      font-family: $headerFont;
      font-size: 1.8rem;
      font-weight: 600;
      color: $darkBlue;
    }
    &:hover {
      border-color: rgba($black, 0.08);
      background: $grey2;
    }
  }
}

.service-details {
  h2 {
    font-family: $headerFont;
    font-weight: 900;
    font-size: 3.6rem;
    color: $darkBlue;
    margin-bottom: 30px;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    color: $fontColor;
    font-family: $bodyFont;
    + {
      img, p {
        margin-top: 20px;
      }
    }
  }
  img {
    break-after: 5px;
    + p {
      margin-top: 30px;
    }
  }
  .service-checklist {
    padding: 0;
    margin: 20px 0 0 40px;
    list-style: none;
    max-width: 500px;
    li {
      font-size: 1.5rem;
      position: relative;
      &:before {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 3px;
        left: -40px;
        content: url(../images/feature/check.png);
      }
      + li {
        margin-top: 20px;
      }
    }
  }
  .service-details-tabs {
    border-bottom: 0;
    margin-top: 30px;
    .nav-item .nav-link {
      border: 1px solid rgba($black, 0.08);
      border-radius: 5px;
      padding: 5px 20px;
      margin-right: 10px;
      line-height: 1.5;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $headerFont;
      &.active {
        color: $primaryColor;
        border-color: $primaryColor;
        -webkit-box-shadow: 0px 5px 10px 0px rgba($primaryColor, 0.15);
        box-shadow: 0px 5px 10px 0px rgba($primaryColor, 0.15);
      }
    }
  }
  .tab-content .tab-pane {
    padding-top: 20px;
  }
}

@media all and (max-width: 991px) {
  .single-tab-content {
    padding-top: 30px;
  }
}

@media all and (max-width: 767px) {
  .service-tab .nav-tabs .nav-item {
    width: 50%;
    &:first-child, &:nth-child(2) {
      border-bottom: 1px solid rgba($black, 0.08);
    }
    .nav-link {
      padding: 10px;
      img {
        display: none;
      }
    }
  }
}

@media all and (max-width: 575px) {
  .affordable-services .affordable-service {
    -ms-flex-preferred-size: 225px;
    flex-basis: 225px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media all and (max-width: 439px) {
  .service-tab .nav-tabs .nav-item {
    border-bottom: 1px solid rgba($black, 0.08);
    border-left: 1px solid rgba($black, 0.08);
    border-right: 1px solid rgba($black, 0.08);
    width: 100%;
    &:last-child {
      border-bottom: 0;
    }
    .nav-link {
      padding: 5px;
      img {
        display: none;
      }
    }
  }
  .service-details .service-details-tabs {
    display: block;
    width: 100%;
    .nav-item {
      width: 100%;
      margin-right: 0;
      + .nav-item {
        margin-top: 10px;
      }
      .nav-link {
        margin-right: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}