
/*----------------------------------------------
  15.0 Slider Style
-----------------------------------------------*/

.banner-bg {
  background: url(../images/bg/banner-bg.jpg) no-repeat center;
  background-size: cover;
}

.banner:hover .owl-nav button {
  &.owl-next, &.owl-prev {
    opacity: 1;
  }
}

.banner-slider {
  .left-part, .right-part {
    height: 900px;
    position: relative;
  }
  .owl-nav button {
    &.owl-next {
      position: absolute;
      top: 50%;
      font-size: 1.8rem;
      color: $white;
      outline: none;
      opacity: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }
    &.owl-prev {
      position: absolute;
      top: 50%;
      font-size: 1.8rem;
      color: $white;
      outline: none;
      opacity: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      left: -80px;
    }
    &.owl-next {
      right: -80px;
    }
  }
}

.banner-content {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: $white;
  h1 {
    font-size: 5.0rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 1.7rem;
    font-family: $bodyFont;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .button {
    background: $white;
    color: $fontColor;
    border-radius: 5px;
  }
}

.banner-image {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-slider .owl-nav button {
  &.owl-next, &.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $white;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
    outline: none;
    color: $white;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.post-details-slider .owl-nav button {
  &.owl-next, &.owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $white;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
    outline: none;
    color: $white;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.post-slider .owl-nav button.owl-prev, .post-details-slider .owl-nav button.owl-prev {
  left: 20px;
}

.post-slider .owl-nav button.owl-next, .post-details-slider .owl-nav button.owl-next {
  right: 20px;
}

.post-slider:hover .owl-nav button {
  &.owl-next, &.owl-prev {
    opacity: 1;
  }
}

.post-details-slider:hover .owl-nav button {
  &.owl-next, &.owl-prev {
    opacity: 1;
  }
}

.portfolio-details-slider .owl-dots {
  text-align: center;
  margin-top: 10px;
  button.owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $grey;
    margin: 0 3px;
    &.active {
      background: $primaryColor;
    }
  }
}

.banner-bg-2 {
  background: url(../images/bg/banner-bg-2.jpg) no-repeat center;
}

.banner-bg-3 {
  background: url(../images/bg/banner-bg-3.jpg) no-repeat center;
}

.banner {
  overflow: hidden;
}

.banner-slider-2 {
  .banner-content {
    width: 50%;
    color: $fontColor;
    position: relative;
    z-index: 2;
    h1 {
      color: $darkBlue;
    }
    .button {
      background: $primaryColor;
      color: $white;
    }
  }
  .right-part {
    position: relative;
    height: auto;
    .banner-image {
      position: absolute;
      top: auto;
      bottom: -2px;
      right: -180px;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      z-index: 1;
    }
  }
}

.banner-item {
  overflow: hidden;
}

.banner-wrap {
  .left-part {
    height: 900px;
    position: relative;
  }
  .right-part {
    height: 900px;
    position: relative;
    &.image-wrap {
      height: auto;
    }
  }
}

.banner-form {
  position: absolute;
  top: 55%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: $white;
  padding: 60px 40px;
  width: 70%;
  min-width: 370px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
  box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
  z-index: 3;
  h5 {
    font-size: 2.0rem;
    font-family: $headerFont;
    font-weight: 800;
    color: $darkBlue;
  }
  p {
    font-size: 1.5rem;
    color: $fontColor;
    font-weight: 600;
    margin-bottom: 25px;
  }
  form {
    .form-group {
      margin-bottom: 20px;
      .form-control {
        height: 50px;
      }
    }
    .button {
      width: 100%;
      background: $darkBlue;
      color: $white;
      outline: none;
      border: 0;
      &:focus, &:active {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
      }
      &:hover {
        -webkit-box-shadow: 0 14px 26px -12px rgba($darkBlue, 0.42), 0 4px 23px 0px rgba($darkBlue, 0.12), 0 8px 10px -5px rgba($darkBlue, 0.2);
        box-shadow: 0 14px 26px -12px rgba($darkBlue, 0.42), 0 4px 23px 0px rgba($darkBlue, 0.12), 0 8px 10px -5px rgba($darkBlue, 0.2);
      }
    }
  }
  .shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-block;
    background: $white;
    left: 0;
    height: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
    box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
    z-index: 3;
  }
  &:before {
    position: absolute;
    content: '';
    height: 12px;
    bottom: -11px;
    left: 12px;
    right: 12px;
    background: $white;
    -webkit-box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
    box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
    z-index: 2;
  }
  &:after {
    position: absolute;
    content: '';
    height: 12px;
    bottom: -22px;
    left: 24px;
    right: 24px;
    background: $white;
    -webkit-box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
    box-shadow: 0px 5px 10px 0px rgba($black, 0.12);
    z-index: 1;
  }
}

@media all and (max-width: 991px) {
  .banner-slider {
    .left-part {
      height: 600px;
    }
    .right-part {
      display: none;
      visibility: hidden;
    }
    .owl-nav button {
      &.owl-prev {
        left: -30px;
      }
      &.owl-next {
        right: -30px;
      }
    }
  }
  .banner-wrap {
    .left-part {
      height: 600px;
      .banner-content {
        width: 100%;
      }
    }
    .right-part {
      display: none;
      visibility: hidden;
    }
  }
  .banner-slider-2 .banner-content {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .banner-slider {
    .left-part {
      height: 600px;
    }
    .owl-nav button {
      &.owl-prev, &.owl-next {
        display: none;
        visibility: hidden;
      }
    }
  }
  .banner-content h1 {
    font-size: 4.0rem;
  }
}