

$primaryColor: #0083ff;
$darkBlue: #16334e;
$darkBlue_2: #2a5074;
$aliceBlue: #f8fcff;
$lightBlue: #8192b6;
$green: #01a23b;
$fontColor: #505050;
$white: #ffffff;
$grey: #aaaaaa;
$grey2: #f8f8f8;
$black: #000000;
$shadowColor: #4285f4;


$headerFont: 'Nunito', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

