<div id="event-- {{ include.name | replace: ' ', '-' | downcase }}" class="modal modal-fx-fadeInScale">
    <div class="modal-background"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <div class="modal-card-title">
                {% assign eventName = event.name | downcase %}
                {% if event.name.size > 40 %}
                    {% assign eventName = eventName | truncate: 40 %}
                {% endif %}
                <p class="title">{{ eventName }}</p>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <p>{{ include.description | markdownify }}</p>
                <p><a href="{{include.link}}">View original event here!</a></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button modal-button-close" aria-label="close">Close</button>
        </footer>
    </div>
</div>