<div class="hero is-default">
  <!-- Menubar -->
  <nav class="navbar navbar-wrapper is-transparent is-static">
      <div class="container">
          <!-- Left logo-->
          <div class="navbar-brand">
              <a class="navbar-item" href="/">
                  <img src="/assets/images/logos/logo.png">
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="is-cloned">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
          </div>
          <!-- Right elements -->
          <div id="is-cloned" class="navbar-menu">
              <div class="navbar-end">
                  {% for item in site.data.navigation %}
                    {% if item.size == 3 %}
                      <div class="navbar-item is-slide is-centered-tablet has-dropdown is-hoverable">
                        <a href="{{ item.link }}" class="navbar-link">
                          {{ item.name }}
                        </a>
                        <div class="navbar-dropdown">
                          <a href="{{ item.link }}" class="navbar-item">
                            {{ item.name }}
                          </a>
                          {% for page in item.dropdown %}
                          {% if page.name == "Jobs Board"%}
                            {% capture url %} {{ page.link }} {% endcapture %}
                          {% else %}
                            {% capture url %} {{ item.link }}{{ page.link }} {% endcapture %}
                          {% endif %}
                          <a href="{{ url }}" class="navbar-item">{{ page.name }}</a>
                          {% endfor %}
                        </div>
                      </div>
                    {% else %}
                      <a href="{{ item.link }}" class="navbar-item is-slide is-centered-tablet">
                          {{ item.name }}
                      </a>
                    {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>
  </nav>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');
    });
  });
}

});
</script>