        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-site-verification" content="PD4l6ZslM6VzlVC1X-gy65xXe_OOBq2qVzqFbE9hsqo" />

        <title>{{ site.title }}</title>
        <link rel="icon" type="image/png" href="{{ site.logo }}"/>

        <!--Core CSS -->
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/core_blue.css">
        <link rel="stylesheet" href="/assets/css/icons.min.css">

        <style>
            .sponsor_info {
                max-height: 0;
                transition: max-height 0.7s ease-out;
                overflow: hidden;
            }
            .sponsor_icon:hover + .sponsor_info {
                max-height: 500px;
                transition: max-height 0.7s ease-in;
            }
            .sponsor_info:hover {
                max-height: 500px;
                transition: max-height 0.7s ease-in;
            }

        </style>