        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>
        <script src="/assets/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- Bulkit js -->
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/landingv4.js"></script>
        <script src="/assets/js/tabs.js"></script>
        <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>