<link rel="stylesheet" href="assets/css/bulma.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="stylesheet" href="assets/css/core_blue.css">
<link rel="stylesheet" href="assets/css/icons.min.css">
<link rel="stylesheet" href="assets/css/paginate.css">
<meta charset="UTF-8">
    <script type="text/javascript" src="assets/js/paginate.js"></script>

    <style>
        *{
            font-family: sans-serif;
        }
    </style>
<div class="container">
    <div class="panel">
        <div class="body">
            <div class="input-group">
                <label for="searchBox">Search</label>
                <input type="search" id="searchBox" placeholder="Enter your searchterms here...">
            </div>
        </div>
    </div>
    <table class="table is-fullwidth myTable">
        <tbody>
        <tr>
          <td><a href="events/DataSoc_Datathon_Final.html">UNSW DataSoc Datathon 2019: Final Round</a></td>
          <td>4th-5th September 2019</td>
          <td><figure class="image is-128x128">
            <img src="assets/images/events/datathon_final.jpg">
          </figure></td>
        </tr>
        </tbody>
    </table>
</div>
<script>

    let options = {
        numberPerPage:5,
        goBar:true, 
        pageCounter:true, 
    };

    let filterOptions = {
        el:'#searchBox' 
    };

    paginate.init('.myTable',options,filterOptions);
</script>