/* .blog-container { 
    height: 100%;
    padding: 1rem 0 0 1rem;
    position: relative;
}

.blog-image {
    margin: 1rem 1rem 1rem 0;
}

.tags-container {
    bottom: 1rem;
    padding: 0.5rem 0 0 0;
    position: absolute;
    z-index: -1;
} */
.blog-container { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 1rem 0 0 1rem;
}

.blog-image {
    margin: 1rem 1rem 1rem 0;
}

.tags-container {
    padding: 0.5rem 0 0 0;
}