<!DOCTYPE html>
<html lang="en">
    <head>
        {% include metatags.html %}
    </head>

    <body>     
        <!-- Hero and Navbar -->
        <div class="hero is-default pt-20">
            <!-- imported menubar.html -->
            {% include menubar.html %}
                                       
            {{ content }}
        </div>
       
        <!-- imported footer.html -->
        {% include footer.html %}
        
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="assets/js/app.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- Bulkit js -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/landingv4.js"></script>    </body>  
</html>
