---
layout: default
---

{% include introduction.html title=page.title image=page.title-image intro=content %}

            <!-- details -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6">
                            <p>
                              <b>Email:</b> <a href="mailto:{{ site.data.contact.Email }}">{{ site.data.contact.Email }}</a>
                              <br><br>
                              <b>Deliveries:</b><br>
                                {% assign address = site.data.contact.Deliveries | split: ", " %}
                                {% for field in address %}
                                  {{ field }}
                                  <br>
                                {% endfor %}
                              <br>
                              <b>Constitution: </b><a href="{{ site.data.contact.Constitution }}"> Link </a>
                            </p>
                        </div>
                        <div class="column is-5 is-offset-1">
                          <figure>
                            <img src="/assets/images/illustrations/drawings/city_right.png">
                          </figure>
                        </div>
                    </div>
                </div>
            </div>