<!DOCTYPE html>
<html lang="en">

    <head>
		{% include metatags.html %}
    </head>

	<body>
      <!-- Hero and Navbar -->
      <div class="hero is-default pt-20">
          {% include menubar.html %}

          <!-- city2_left and intro -->
          <div class="hero-body">
              <div class="container">
                  <div class="columns is-vcentered">
                      <div class="column is-6">
                          <h1 class="title is-1 is-bigger"> {{ page.title }}</h1>
                          <img src="/assets/images/illustrations/drawings/{{ page.title-image }}">
                      </div>
                      <div class="column is-5 is-offset-1">
                          {{ page.introduction }}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{ content }}
      {% include footer.html %}
      {% include plugins.html %}
	</body>
</html>