<!DOCTYPE html>
<html lang="en">
    <head>
		{% include metatags.html %}
    </head>

    <body>     
        <!-- Hero and Navbar -->
        <div class="hero is-default pt-20">
            <!-- imported menubar.html -->
            <div id="menubar"></div>
                                       
            <!-- title and description -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6">
                            <h1 class="title is-1 is-bigger">Events</h1>
                            <br> <br> <br>
                        </div>
                    </div>
                </div>
                <h3>Upcoming Events</h3>
                <div id="events"></div>
                <br>
                <h3>Previous Events</h3>
                <div id="prev"></div>
            </div>
        </div>
       
        <!-- imported footer.html -->
        <div id="footer"></div>
        
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="assets/js/app.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- Bulkit js -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/landingv4.js"></script>
    </body>  
</html>
