<!DOCTYPE html>
<html lang="en">
    <head>
	{% include metatags.html %}
    </head>

    <body>     
        <!-- Hero and Navbar -->
        <div class="hero is-default pt-20">
            {% include menubar.html %}
                                       
            <!-- title and description -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6">
                            <h1 class="title is-1 is-bigger">{{ page.title }}</h1>
                            <br> <br> <br>
                        </div>
                    </div>
                </div>
                <h3>Upcoming Events</h3>
				{% include upcoming_ev.html %}
                <br>
                <h3>Previous Events</h3>
                {% include prev_ev.html %}
            </div>
        </div>
       
        {% include footer.html %}
        
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="assets/js/app.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <!-- Bulkit js -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/landingv4.js"></script>
    </body>  
</html>
