<!DOCTYPE html>
<html lang="en">
    <head>
		{% include metatags.html %}
    </head>
    
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and Navbar -->
        <div class="hero is-default is-bold">
          {% include menubar.html %}
          <!-- City_left and Welcome to DataSoc -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-7">
                            <figure class="">
                                <img src="/assets/images/illustrations/drawings/city_left.png">
                            </figure>
                        </div>
                        <div class="column is-5 is-hero-title">
                            <h2 class="subtitle is-4">
                                Welcome to
                            </h2>
                          <h1 class="title is-1 is-bigger">
                                DataSoc
                            </h1>
                            <h2 class="subtitle is-4">
                                University of New South Wales
                            </h2>
                            <p class="">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSffSdDlZLRMnWokOwlpKEVaaklL39nkgkjnZ0iaqdoL134nVA/viewform?usp=sf_link" class="button button-cta is-bold btn-align secondary-btn raised">
                                    Join Us!
                                </a>
                            </p>
                            <div class="social-links pt-5">
                                {% for item in site.data.contact.Media %}
                                <a href="{{ item.link }}"><span class="icon has-text-dark"><i class="{{ item.img_class }}"></i></span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Maths School Logo and mission statement-->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6">
                            <a><img class="partner-logo" src="/assets/images/logos/custom/unswmaths.png"></a>

                        </div>
                       <div class="column is-5 is-offset-1">
                            <p>Uniting mathematicians, econometricians and computer scientists, UNSW Datasoc seeks to empower our members with knowledge and skills of data science, machine learning and artificial intelligence.</p>

                        </div>
                    </div>
                </div>
            </div>

            <!-- what we really do-->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6">
                            <h2 class="subtitle is-3">
                                What we really do.
                            </h2>

                            <p>
                            At DataSoc, our goal is to discover how data shapes the world around us. 
                            <br><br> 

                            As the official student body for the Data Science and Decisions program at UNSW, we are one of UNSW's fastest growing societies in one of the world's fastest growing industries.
                            <br><br>

                            We aspire to connect, educate and support our members by running social and career events alongside industry partnered educational workshops.
                            </p>
                        </div>
                        <div class="column is-5 is-offset-1">
                            <!-- picture of other side of city-->
                            <figure class="">
                                <img src="/assets/images/illustrations/drawings/city_right.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
        {% include plugins.html %}
	</body>  
</html>
