---
layout: page
---

<div class="hero-body">
  <!--Sponsors -->
  {% for tier in site.data.sponsors %}
  <div class="section">
      <div class="container">
          <div class="section-title-wrapper">
            <h2 class="title is-1 centered">{{ tier[0] }}</h2>
              <div class="columns is-vcentered">
                {% for sponsor in tier[1] %}
                  <div class="column">
                      <div class="sponsor_icon">
                          <a href="{{ sponsor.link }}">
                              <img src="{{ sponsor.icon }}">
                          </a>
                      </div>
                      <div class="sponsor_info">
                          {{ sponsor.description | newline_to_br}}
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>
      </div>
  </div>
  
  {% endfor%}
