<!DOCTYPE html>
<html lang="en">
    <head>
		{% include metatags.html %}

        <style>
            .sponsor_info {
                max-height: 0;
                transition: max-height 0.7s ease-out;
                overflow: hidden;
            }
            .sponsor_icon:hover + .sponsor_info {
                max-height: 500px;
                transition: max-height 0.7s ease-in;
            }
            .sponsor_info:hover {
                max-height: 500px;
                transition: max-height 0.7s ease-in;
            }

        </style>

    </head>

    <body>     
        <!-- Hero and Navbar -->
        <div class="hero is-default pt-20">
            {% include menubar.html %}
        </div>
        
		<!-- city3_left and intro-->
		<div class="hero-body">
			<div class="container">
				<div class="columns is-vcentered">
					<div class="column is-6">
						<h1 class="title is-1 is-bigger">{{ page.title }}</h1>
						<img src="/assets/images/illustrations/drawings/city3_left.png">
					</div>

					<div class="column is-5 is-offset-1">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
		
		<div class="hero-body">
		
        <!--Sponsors -->
        <div class="section">
            <div class="section-title-wrapper">
                <div class="container is-fluid">
                    <h2 class="title is-1 centered">Major Sponsors</h2>
                    <div class="columns is-vcentered">
                      {% for sponsor in site.data.sponsors.majors %}
                        <div class="column">
                            <div class="sponsor_icon">
                                <a href="{{ sponsor.link }}">
                                    <img src="{{ sponsor.icon }}">
                                </a>
                            </div>
                            <div class="sponsor_info">
                                {{ sponsor.description | newline_to_br}}
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title-wrapper">
                <div class="container is-fluid">
                    <h2 class="title is-1 centered">Minor Sponsors</h2>
                    <div class="columns is-vcentered">
					  {% for sponsor in site.data.sponsors.minors %}
                        <div class="column">
                            <div class="sponsor_icon">
                                <a href="{{ sponsor.link }}">
                                    <img src="{{ sponsor.icon }}">
                                </a>
                            </div>
                            <div class="sponsor_info">
                                {{ sponsor.description | newline_to_br}}
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title-wrapper">
                <div class="container is-fluid">
                    <h2 class="title is-1 centered">Partners</h2>
                    <div class="columns is-vcentered">
					  {% for sponsor in site.data.sponsors.partners %}
                        <div class="column">
                            <div class="sponsor_icon">
                                <a href="{{ sponsor.link }}">
                                    <img src="{{ sponsor.icon }}">
                                </a>
                            </div>
                            <div class="sponsor_info">
                                {{ sponsor.description | newline_to_br}}
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
		</div>

        {% include footer.html %}
        {% include plugins.html %}
  </body>  
</html>
