<!DOCTYPE html>
<html lang="en">

    <head>
		{% include metatags.html %}
    </head>

	<body>
		<!-- Hero and Navbar -->
		<div class="hero is-default pt-20">
			{% include menubar.html %}

			<!-- city2_left and intro -->
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered">
						<div class="column is-6">
							<h1 class="title is-1 is-bigger"> {{ page.title }}</h1>
							<img src="/assets/images/illustrations/drawings/city2_left.png">

						</div>
						<div class="column is-5 is-offset-1">
							{{ content }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Executive -->
		<div class="hero-body">
			<div class="container">
				<div class="section-title-wrapper">
					<h2 class="title is-2">Executive</h2>
					<br>
				</div>
				<!-- Profiles -->
				<div class="content-wrapper">
                  {% for exec in site.data.team.executive %}
                    {% if forloop.first %}
                      <div class="columns">
                    {% endif %}
                    {% if forloop.index == 5 %}
                      </div>
                      <div class="columns">
                    {% endif %}
                        <div class="column is-3">
                          <div class="hero-box has-text-centered">
                            <img src="{{ exec.image }}" alt="">
                            <div class="name">{{ exec.name }}</div>
                            <div class="position">{{ exec.position }}</div>
                            <div class="degree">{{ exec.degree }}</div>
                          </div>
                        </div>
                  {% endfor %}
                      </div>
				</div>
			</div>
		</div>

		<!-- External -->
		<div class="hero-body">
			<div class="container">
				<div class="section-title-wrapper">
					<h2 class="title is-2">External</h2>
					<br>
				</div>
				<!-- Profiles -->
                <div class="content-wrapper">
                  {% for director in site.data.team.external_directors %}
                    {% if forloop.first %}
                      <div class="columns">
                    {% endif %}
                    {% if forloop.index == 5 %}
                      </div>
                      <div class="columns">
                    {% endif %}
                        <div class="column is-3">
                          <div class="hero-box has-text-centered">
                            <img src="{{ director.image }}" alt="">
                            <div class="name">{{ director.name }}</div>
                            <div class="position">{{ director.position }}</div>
                            <div class="degree">{{ director.degree }}</div>
                          </div>
                        </div>
                  {% endfor %}
                      </div>
				</div>
			</div>
		</div>

		<!-- Internal -->
		<div class="hero-body">
			<div class="container">
				<div class="section-title-wrapper">
					<h2 class="title is-2">Internal</h2>
					<br>
				</div>
				<!-- Profiles -->
                <div class="content-wrapper">
                  {% for director in site.data.team.internal_directors %}
                    {% if forloop.first %}
                      <div class="columns">
                    {% endif %}
                    {% if forloop.index == 5 %}
                      </div>
                      <div class="columns">
                    {% endif %}
                        <div class="column is-3">
                          <div class="hero-box has-text-centered">
                            <img src="{{ director.image }}" alt="">
                            <div class="name">{{ director.name }}</div>
                            <div class="position">{{ director.position }}</div>
                            <div class="degree">{{ director.degree }}</div>
                          </div>
                        </div>
                  {% endfor %}
                      </div>
				</div>
			</div>
		</div>

		{% include footer.html %}
        {% include plugins.html %}
	</body>

</html>