<!DOCTYPE html>
<html lang="en">

    <head>
		{% include metatags.html %}
    </head>

	<body>
		<!-- Hero and Navbar -->
		<div class="hero is-default pt-20">
			{% include menubar.html %}

			<!-- city2_left and intro -->
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered">
						<div class="column is-6">
							<h1 class="title is-1 is-bigger"> {{ page.title }}</h1>
							<img src="/assets/images/illustrations/drawings/city2_left.png">
						</div>
						<div class="column is-5 is-offset-1">
							{{ content }}
						</div>
					</div>
				</div>
			</div>
		</div>

		  {% for level in site.data.team %}
          <div class="hero-body">
            <div class="container">
              <div class="section-title-wrapper">
                <h2 class="title is-2">{{ level[0] }}</h2>
                <br>
              </div>
			<div class="content-wrapper">
			  {% for person in level[1] %}
				{% if forloop.first %}
				  <div class="columns">
				{% endif %}
				{% comment %}
                  {% if forloop.index == 3 or forloop.index == 5 or forloop.index == 7 %}
                  {% endif %} delete this
                {% endcomment %}
                {% if forloop.index == 5 %}
				  </div>
				  <div class="columns">
				{% endif %}
<!--					<div class="column is-6">-->
					<div class="column is-3">
					  <div class="hero-box has-text-centered">
						<img src="{{ person.image }}" alt="">
						<div class="name">{{ person.name }}</div>
						<div class="position">{{ person.position }}</div>
						<div class="degree">{{ person.degree }}</div>
					  </div>
					</div>
			  {% endfor %}
				  </div>
              </div>
			</div>
          </div>
		  {% endfor %}
		{% include footer.html %}
        {% include plugins.html %}
	</body>

</html>