---
layout: page
---
		{% for level in site.data.team %}
        <div class="hero-body">
          <div class="container">
            <div class="section-title-wrapper">
              <h2 class="title is-2">{{ level[0] }}</h2>
              <br>
            </div>
			 <div class="content-wrapper">
			  {% for person in level[1] %}
				{% if forloop.first %}
				  <div class="columns">
				{% endif %}
				{% comment %}
                  {% if forloop.index == 3 or forloop.index == 5 or forloop.index == 7 %}
                  {% endif %} ##### delete this ######
                {% endcomment %}
                {% if forloop.index == 5 %}
				  </div>
				  <div class="columns">
				{% endif %}
					<div class="column is-3">
					  <div class="hero-box has-text-centered">
						<img src="{{ person.image }}" alt="">
						<div class="name">{{ person.name }}</div>
						<div class="position">{{ person.position }}</div>
						<div class="degree">{{ person.degree }}</div>
					  </div>
					</div>
			  {% endfor %}
				  </div>
              </div>
			</div>
          </div>
		  {% endfor %}